{% extends 'main/base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}

<body class="d-flex flex-column min-vh-100 text-bg-light">

  {% include 'main/layouts/header.html' %}

  <main class="container wrapper flex-grow-1"> 
    <div class="card border-info">
      <div class="card-body p-5 rounded border-info">
        <h1>{% trans "Hello from Hexlet!" %}</h1>
        <p class="lead">{% trans "Practical programming courses" %}</p>
        <hr>
        <a class="btn btn-primary btn-lg" href="https://ru.hexlet.io/" role="button">{% trans "To learn more" %}</a>
      </div>
    </div>
  </main>
  {% include 'main/layouts/footer.html' %}

</body>

{% endblock %}